$primary-5: hsl(351, 76%, 5%);
$primary-10: hsl(354, 73%, 10%);
$primary-20: hsl(353, 75%, 20%);
$primary-30: hsl(353, 74%, 30%);
$primary-40: hsl(353, 74%, 40%);
$primary-50: hsl(353, 74%, 50%);
$primary-60: hsl(353, 74%, 60%);
$primary-70: hsl(353, 74%, 70%);
$primary-80: hsl(353, 75%, 80%);
$primary-90: hsl(354, 73%, 90%);
$primary-95: hsl(354, 76%, 95%);
$primary-98: hsl(353, 80%, 98%);
$primary-99: hsl(353, 80%, 99%);

$secondary-5: hsl(20, 92%, 5%);
$secondary-10: hsl(22, 96%, 10%);
$secondary-20: hsl(22, 96%, 20%);
$secondary-30: hsl(22, 96%, 30%);
$secondary-40: hsl(22, 96%, 40%);
$secondary-50: hsl(22, 96%, 50%);
$secondary-60: hsl(22, 96%, 60%);
$secondary-70: hsl(22, 96%, 70%);
$secondary-80: hsl(22, 96%, 80%);
$secondary-90: hsl(22, 96%, 90%);
$secondary-95: hsl(22, 92%, 95%);
$secondary-98: hsl(353, 100%, 98%);
$secondary-99: hsl(353, 100%, 99%);

$gray-5: hsl(0, 8%, 5%);
$gray-10: hsl(0, 6%, 10%);
$gray-20: hsl(353, 8%, 20%);
$gray-30: hsl(355, 7%, 30%);
$gray-40: hsl(351, 7%, 40%);
$gray-50: hsl(353, 7%, 50%);
$gray-60: hsl(351, 7%, 60%);
$gray-70: hsl(355, 7%, 70%);
$gray-80: hsl(353, 8%, 80%);
$gray-90: hsl(0, 6%, 90%);
$gray-95: hsl(330, 8%, 95%);
$gray-98: hsl(0, 0%, 98%);
$gray-99: hsl(0, 0%, 99%);

$danger-5: hsl(0, 100%, 5%);
$danger-10: hsl(0, 100%, 10%);
$danger-20: hsl(0, 100%, 20%);
$danger-30: hsl(0, 100%, 30%);
$danger-40: hsl(0, 100%, 40%);
$danger-50: hsl(0, 100%, 50%);
$danger-60: hsl(0, 100%, 60%);
$danger-70: hsl(0, 100%, 70%);
$danger-80: hsl(0, 100%, 80%);
$danger-90: hsl(0, 100%, 90%);
$danger-95: hsl(0, 100%, 95%);
$danger-98: hsl(0, 100%, 98%);
$danger-99: hsl(0, 100%, 99%);

$warning-5: hsl(60, 100%, 5%);
$warning-10: hsl(60, 100%, 10%);
$warning-20: hsl(60, 100%, 20%);
$warning-30: hsl(60, 100%, 30%);
$warning-40: hsl(60, 100%, 40%);
$warning-50: hsl(60, 100%, 50%);
$warning-60: hsl(60, 100%, 60%);
$warning-70: hsl(60, 100%, 70%);
$warning-80: hsl(60, 100%, 80%);
$warning-90: hsl(60, 100%, 90%);
$warning-95: hsl(60, 100%, 95%);
$warning-98: hsl(60, 100%, 98%);
$warning-99: hsl(60, 100%, 99%);

$success-5: hsl(120, 100%, 5%);
$success-10: hsl(120, 100%, 10%);
$success-20: hsl(120, 100%, 20%);
$success-30: hsl(120, 100%, 30%);
$success-40: hsl(120, 100%, 40%);
$success-50: hsl(120, 100%, 50%);
$success-60: hsl(120, 100%, 60%);
$success-70: hsl(120, 100%, 70%);
$success-80: hsl(120, 100%, 80%);
$success-90: hsl(120, 100%, 90%);
$success-95: hsl(120, 100%, 95%);
$success-98: hsl(120, 100%, 98%);
$success-99: hsl(120, 100%, 99%);
